PONDER_RPC_URL_137=https://polygon.drpc.org
PONDER_ETH_GET_LOGS_BLOCK_RANGE=1000
PONDER_START_BLOCK=86126998
PONDER_END_BLOCK=
DATABASE_SCHEMA=poly_data_ponder_v2
POLYMARKET_V2_JSONL_PATH=../../data/_ponder/order_filled_v2.jsonl
